@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #ffffff;
  --color-foreground: #111827;
  --color-primary: #3b82f6;
}

/* Override your CSS variables for dark mode here */
.dark {
  --color-background: #111827;
  --color-foreground: #f9fafb;
  --color-primary: #60a5fa;
}
